html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overscroll-behavior-y: none;
    scroll-behavior: smooth;
}

:root {
    --navbar-height: 150px;
    --navbar-compact-height: 100px;
}

.container-fluid {
    padding: 0 !important;
}

#main-content {
    margin-top: var(--navbar-height);
    transition: padding-top 0.5s ease;
}

@media screen and (min-height: 1100px) {

    #contact-form {
        padding: 0 100px;
    }
}
@media screen and (max-height: 992px) {
    :root {
        --navbar-compact-height: 80px;
    }
}
