---
import Layout from "../layouts/Layout.astro";
import DatenschutzContent from "../content/datenschutz.md";
---
<Layout title="Datenschutzerklärung" content="Datenschutzerklärung der Holidays">
    <div class="container my-5">
        <DatenschutzContent/>
    </div>
</Layout>