---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/carousel.astro";
---
<Layout title="Holidays 2.0 – Impressionen unserer Live-Auftritte aus der Pfalz"
        content="Entdecke beeindruckende Bilder und emotionale Momente aus den Live-Auftritten von Holidays 2.0 – Erlebe Musik und Stimmung hautnah!"
        fluid={false}>
    <h1 class="text-center display-5">Impressionen unserer Auftritte</h1>
    <p class="text-center display-8">Galerie - Live Auftritte aus der Pfalz</p>
    <Carousel/>
</Layout>