---

import Layout from "../layouts/Layout.astro";
import Carousel from "../components/carousel.astro";
---
<Layout title="Gallerie" content="Bilder der Holidays 2.0">
    <h1 class="text-center">Impressionen unserer Auftritte</h1>
<Carousel/>
</Layout>