---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/carousel.astro";
---
<Layout title="Holidays 2.0 – Galerie mit Impressionen unserer Live-Auftritte"
        content="Entdecke beeindruckende Bilder und emotionale Momente aus den Live-Auftritten von Holidays 2.0 – Erlebe Musik und Stimmung hautnah!"
        fluid={false}>
    <h1 class="text-center display-5">Impressionen unserer Auftritte</h1>
    <Carousel/>
</Layout>