---
import Layout from "../layouts/Layout.astro";
import ImpressumContent from "../content/impressum.md";
---
<Layout title="Impressum" content="Impressum der Holidays">
    <div class="container my-5">
        <ImpressumContent/>
    </div>
</Layout>