---
import Layout from "../layouts/Layout.astro";
import TextBanner from "../components/textBanner.astro";
import Form from "../components/form.astro";
---
<Layout title="Kontakt mit Holidays 2.0 – Anfragen und Buchungen"
        content="Nimm Kontakt mit Holidays 2.0 auf – für Buchungen, Anfragen oder persönliche Nachrichten. Wir freuen uns auf deine Nachricht!"
        customClass="container-fluid">
    <div class="mb-4">
        <TextBanner headline="Kontaktiere Holidays 2.0 für Anfragen und Buchungen"
                    paragraph="Hast du Fragen zu unseren Auftritten? Möchtest du uns für eine Veranstaltung buchen oder hast du allgemeine Anfragen? Kontaktiere uns einfach über das Formular oder die angegebenen Kontaktdaten."/>
    </div>
    <div class="py-5">
        <Form/>
    </div>
</Layout>