---
import Layout from "../layouts/Layout.astro";
import RepertoireContent from "../content/repertoire.md";
import "../styles/repertoire.css"
import TextBanner from "../components/textBanner.astro";
---
<Layout title="Liederrepertoire von Holidays 2.0 – Musik aus Bobenheim-Roxheim"
        content="Entdecke das vielseitige Liederrepertoire von Holidays 2.0 – von Klassikern bis modernen Hits, perfekt für jeden Anlass."
        customClass="container-fluid bg-dark-subtle">

    <TextBanner headline="Das vielseitige Liederrepertoire von Holidays 2.0"
                subline="Entdecke unsere Cover-Songs/ Musik für die regionalen Feste in Bobenheim-Roxheim, der Umgebung und in der ganzen Vorderpfalz"/>
    <p class="display-7 custom-headline text-center p-4 gradient-text">Hier ist eine spannende Auswahl unseres Repertoires zu sehen</p>
    <div class="px-3 p-lg-0">
        <div class="repertoire-markdown">
            <div class="song-list">
                <RepertoireContent/>
            </div>
        </div>
    </div>
</Layout>