---
import Layout from "../layouts/Layout.astro";
import RepertoireContent from "../content/repertoire.md";
import "../styles/repertoire.css"
import TextBanner from "../components/textBanner.astro";
---
<Layout title="Liederrepertoire von Holidays 2.0 – Musik aus Bobenheim-Roxheim"
        content="Entdecke das vielseitige Liederrepertoire von Holidays 2.0 – von Klassikern bis modernen Hits, perfekt für jeden Anlass."
        customClass="container-fluid bg-dark-subtle">

    <TextBanner headline="Hier eine Auswahl aus unserem Song-Repertoire von Holidays 2.0"
                subline="Entdecke unsere Cover-Songs und unsere Musik für Eure Veranstaltung. Unser Schwerpunkt bei der Liederauswahl liegt auf bekannten Oldies und deutschen Schlagern. Songs, die jeder kennt, jeder mitsingen kann und zum Tanzen anregen."/>
    <div class="px-3 p-lg-0">
        <div class="repertoire-markdown">
            <div class="song-list">
                <RepertoireContent/>
            </div>
        </div>
    </div>
</Layout>