---
import Layout from "../layouts/Layout.astro";
import TextBanner from "../components/textBanner.astro";
---
<Layout title="The Holidays 2.0 – Kontakt erfolgreich gesendet"
        content="Vielen Dank für Ihre Nachricht an The Holidays 2.0! Wir haben Ihre Kontaktanfrage erhalten und melden uns in Kürze bei Ihnen."
        customClass="container-fluid">
    <div class="d-flex justify-content-center align-items-center flex-column">
        <TextBanner headline="Glückwunsch!" subline="Ihre Kontaktnachricht wurde erfolgreich abgesendet!"
                    paragraph="Wir werden uns unverzüglich bei Ihnen melden!"></TextBanner>
        <button type="button" class="btn btn-primary mt-3" id="success-back-button"> Zurück</button>
    </div>
</Layout>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const btn = document.getElementById('success-back-button');
        if (btn) {
            btn.addEventListener('click', () => window.location.href = "/")
        }
    })
</script>