---
import MapsDirection from "./mapsDirection.astro";
import '../styles/card.css'
interface Props {
    header: string,
    title: string,
    address: string,
    linkToEvent: string,
}
const {header,title,address,linkToEvent} = Astro.props;
---
<div class="card text-center my-5 w-lg-50">
    <div class="card-body">
        <div class="py-2">
        {header}
        </div>
        <h5 class="card-title">{title}</h5>
    </div>
<div class="card-footer text-muted d-flex gap-5 justify-content-center align-items-center">
        <a href={linkToEvent} class="link-info">Homepage</a> <MapsDirection address={address} />
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const cards = document.querySelectorAll('.card');

        if (cards.length) {
            const observer = new IntersectionObserver((entries) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        entry.target.classList.add('opacity-animation');
                    } else {
                        entry.target.classList.remove('opacity-animation');
                    }
                });
            });

            cards.forEach(card => {
                card.classList.remove('opacity-animation');
                observer.observe(card);
            });
        }
    });
</script>