---
interface Props {
    text: string,
    id: string,
    target: string,
}
const {text, id, target} = Astro.props;

---

<button class="btn btn-secondary" id={id}>{text}</button>

<script define:vars={{target,id}}>
    document.addEventListener('DOMContentLoaded', () => {
        const btn = document.getElementById(id);
        if (btn) {
            btn.addEventListener('click', () => window.location.href = target)
        }
    })
</script>
