---
---
<footer class="bg-light py-3 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p>© The Holidays</p>
                <div class="d-flex justify-content-center gap-3">
                    <a href="/impressum" class="text-decoration-none">Impressum</a>
                    <a href="/datenschutz" class="text-decoration-none">Datenschutzerklärung</a>
                </div>
            </div>
        </div>
    </div>
</footer>