---

---
<div class="container p-3">
    <form name="contact" netlify>
        <div class="mb-3">
            <label for="vorname" class="form-label">Vorname</label>
            <input type="text" class="form-control" id="vorname" name="vorname" aria-describedby="vorname"/>
        </div>
        <div class="mb-3">
            <label for="nachname" class="form-label">Nachname</label>
            <input type="text" class="form-control" id="nachname" name="nachname" aria-describedby="nachname"/>
        </div>
        <div class="mb-3">
            <label for="emailInput" class="form-label">Email address</label>
            <input type="email" class="form-control" id="emailInput" name="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Ihre Nachricht</label>
            <textarea class="form-control" id="message" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Abschicken</button>
    </form>
</div>