---
import '../styles/form.css'
---
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
<div class="container">
    <div class="contact__wrapper shadow-lg mt-n9">
        <div class="row no-gutters mx-1">
            <div class="col-lg-5 contact-info__wrapper bg-gradient-company-color text-white p-5 order-lg-2">
                <h3 class="mb-5">Direkt in Kontakt treten:</h3>

                <ul class="contact-info__list list-style--none position-relative z-index-101">
                    <li class="mb-4 pl-4">
                        <span class="position-absolute"><i class="fas fa-envelope"></i></span>
                        gerald.ingermann@outlook.com
                    </li>
                    <li class="mb-4 pl-4">
                        <span class="position-absolute"><i class="fas fa-phone"></i></span> 06359/9613017
                    </li>
                </ul>
            </div>

            <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                <form name="contact-form" id="contact-form" method="POST" action="/success" data-netlify="true">
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="vorname">Vorname*</label>
                                <input type="text" class="form-control" id="vorname" name="Vorname" placeholder="Max"
                                       required>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="nachname">Nachname*</label>
                                <input type="text" class="form-control" id="nachname" name="Nachname"
                                       placeholder="Mustermann" required>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="email">Email*</label>
                                <input type="email" class="form-control" id="email" name="email"
                                       placeholder="max.mustermann@gmail.com" required>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="phone">Telefonnummer</label>
                                <input type="tel" class="form-control" id="phone" name="Telefonnummer"
                                       placeholder="+49....">
                            </div>
                        </div>

                        <div class="col-sm-12 mb-3">
                            <div class="form-group">
                                <label for="message">Ihre Anfrage</label>
                                <textarea class="form-control" id="message" name="Nachricht" rows="4"
                                          placeholder="Hallo ich würde sie gerne buchen für....."></textarea>
                            </div>
                        </div>

                        <p class="fs-8" id="hint">* diese Felder sind Pflichtfelder!</p>

                        <div class="col-sm-12 mb-3">
                            <button type="submit" name="submit" id="submitButton" class="btn btn-primary" disabled>
                                Abschicken
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const submitButton = document.getElementById('submitButton') as HTMLButtonElement;
    const form = document.getElementById('contact-form') as HTMLFormElement;
    const hint = document.getElementById('hint') as HTMLElement;

    if (submitButton && form) {
        const emailField: HTMLFormElement = form.email;
        const vornameField: HTMLFormElement = form.vorname;
        const nachnameField: HTMLFormElement = form.nachname;
        const nameRegex = /^[A-Za-zÀ-ÖØ-öø-ÿ][-'A-Za-zÀ-ÖØ-öø-ÿ\s]{1,48}$/;

        const requiredFields: HTMLFormElement[] = [];
        requiredFields.push(emailField);
        requiredFields.push(vornameField);
        requiredFields.push(nachnameField);

        buttonState(requiredFields);
        for (const field of requiredFields) {
            markFormFieldAsInvalid(field);
        }

        vornameField.addEventListener('input', () => {
            markFormFieldAsInvalid(vornameField);
            buttonState(requiredFields)
        })
        nachnameField.addEventListener('input', () => {
            markFormFieldAsInvalid(nachnameField);
            buttonState(requiredFields)
        })
        emailField.addEventListener('input', () => {
            markFormFieldAsInvalid(emailField);
            buttonState(requiredFields)
        })

        function buttonState(fields: HTMLFormElement[]): void {
            for (const field of fields) {
                if (field.checkValidity() === false || (field.value.length > 0 && field.value.trim().length === 0)) {
                    submitButton.disabled = true;
                    return;
                }
            }
            submitButton.disabled = false;
        }

        function markFormFieldAsInvalid(field: HTMLFormElement): void {
            let valid = true;
            if (field.value.length > 0) {
                if (field.checkValidity() === false) {
                    valid = false;
                } else if (field.value.trim().length === 0) {
                    valid = false;
                } else valid = !((field.id === 'vorname' || field.id === 'nachname') &&
                    !nameRegex.test(field.value));
            }
            if (valid) {
                field.classList.remove('invalid');
                hint.classList.remove('invalid-text');
            } else {
                field.classList.add('invalid');
                hint.classList.add('invalid-text');
            }

        }
    }
</script>