---
import "../styles/header.css"
---
<nav class="navbar fixed-top navbar-container navbar-expand-lg navbar-light mb-3">
    <div class="container-fluid px-5 pt-lg-0 pt-0 d-flex justify-content-end">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-5 mb-lg-0 d-flex gap-5">
                <li class="nav-item fs-4">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item fs-4">
                    <a class="nav-link" href="/gallery">Gallery</a>
                </li>
                <li class="nav-item fs-4">
                    <a class="nav-link" href="/repertoire">Repertoire</a>
                </li>
                <li class="nav-item fs-4">
                    <a class="nav-link" href="/kontakt">Kontakt</a>
                </li>
            </ul>
        </div>
        <a class="navbar-brand d-lg-none d-flex" href="/">
            <img src="/Logo.svg" alt="logo" id="logoMobile" width="350" height="210">
        </a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand d-lg-flex d-none" href="/">
            <img src="/Logo.svg" alt="logo" id="logo" width="350" height="210">
        </a>
    </div>
</nav>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const navbarContainer = document.querySelector('.navbar-container');

        window.addEventListener('scroll', () => {
            if (window.scrollY > 50 && navbarContainer) {
                navbarContainer.classList.add('transparent');
            } else if (navbarContainer) {
                navbarContainer.classList.remove('transparent');
            }
        });
    });
</script>