---
import "../styles/header.css"
---
<nav class="navbar fixed-top navbar-container navbar-expand-lg navbar-light">
    <div class="container-fluid px-3 py-3 py-lg-0">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto px-2 p-lg-0 d-flex gap-lg-5 gap-3">
                <li class="nav-item fs-4">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item fs-4">
                    <a class="nav-link" href="/galerie">Galerie</a>
                </li>
                <li class="nav-item fs-4">
                    <a class="nav-link" href="/repertoire">Repertoire</a>
                </li>
                <li class="nav-item fs-4">
                    <a class="nav-link" href="/kontakt">Kontakt</a>
                </li>
            </ul>
            <a class="navbar-brand d-lg-flex d-none position-absolute end-0" href="/">
                <img src="/Logo.svg" alt="logo" id="logo" width="350" height="210">
            </a>
        </div>
        <a class="navbar-brand d-lg-none d-flex" href="/">
            <img src="/Logo.svg" alt="logo" id="logoMobile" width="350" height="210">
        </a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                id="navbarExpand">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</nav>


<script>
    let navBarOpen: boolean = false;
    document.addEventListener('DOMContentLoaded', () => {
        const navbarContainer = document.querySelector('.navbar-container');
        let lastScrollTop = 0;
        let scrollUp = false;

        window.addEventListener('scroll', () => {
            const upwardAmount = trackUpwardScroll();

            const scrollTop = window.scrollY;

            if (scrollTop > 50 && navbarContainer && window.innerWidth > 992) {
                navbarContainer.classList.add('transparent');
            } else if (navbarContainer) {
                navbarContainer.classList.remove('transparent');
            }

            if (navbarContainer) {
                if (scrollTop > 100 && !scrollUp && !navBarOpen) {
                    navbarContainer.classList.add('navbar-compact');
                } else if (upwardAmount > 50 || scrollTop < 100) {
                    navbarContainer.classList.remove('navbar-compact');
                }
            }
        });

        const expandButton = document.getElementById('navbarExpand');
        if (expandButton && navbarContainer) {
            expandButton.addEventListener('click', () => {
                navBarOpen = !navBarOpen;
                if(navBarOpen) {
                    navbarContainer.classList.add('navbar-auto-size');
                } else {
                    navbarContainer.classList.remove('navbar-auto-size');
                }
                navbarContainer.classList.remove('navbar-compact');
                navbarContainer.classList.remove('container-fluid');

                if (!navBarOpen && lastScrollTop > 400) {
                    navbarContainer.classList.add('navbar-compact');
                }
            })
        }

        function trackUpwardScroll() {
            const currentPosition = window.scrollY;
            let upwardScrollAmount = 0;

            if (currentPosition < lastScrollTop) {
                upwardScrollAmount = lastScrollTop - currentPosition;
                scrollUp = true;

                if (upwardScrollAmount > 100) {
                    navbarContainer?.classList.remove('navbar-compact');
                }
            } else {
                scrollUp = false;
            }

            lastScrollTop = currentPosition;

            return upwardScrollAmount;
        }
    });
</script>