---
interface Props {
    address: string;
}
const { address } = Astro.props;
---
<button class="btn btn-primary mapsCallButton" data-address={address}>
    Ort in Maps öffnen
</button>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.mapsCallButton').forEach(button => {
            const btn = button as HTMLButtonElement;
            btn.addEventListener('click', () => {
                const address = btn.dataset.address;
                if (address) {
                    openInGoogleMaps(address);
                }
            });
        });
    });

    function openInGoogleMaps(address) {
        const link = generateGoogleMapsLink(address);
        console.log(link, address);
        window.open(link, "_blank");
    }

    function generateGoogleMapsLink(address) {
        const baseUrl = "https://www.google.com/maps/search/?api=1&query=";
        return baseUrl + encodeURIComponent(address);
    }
</script>
