---
interface Props {
    headline: string,
    subline?: string,
    paragraph?: string,
}

const {headline, subline, paragraph} = Astro.props;
---
<div class="bg-gradient-company-color w-100 d-flex flex-column justify-content-center align-items-center p-3 text-white">
    <h1 class="display-8 text-center w-lg-50">{headline}</h1>
    <h2 class="display-9 text-center w-lg-50">{subline}</h2>
    <p class="display-10 text-center w-lg-50">{paragraph}</p>
</div>